/* Navigation */
#main-nav .social{
  display: none;
}
#main-nav .container{
  grid-template-columns:1fr;
  align-items:1.2rem;
}
#main-nav ul,#main-nav .logo{
  justify-self: center;
}
#main-nav ul{
  padding-top: 20px;
}
#main-nav ul li a{
  padding: 0.50rem;
}
/* Arricels */
#home-articels .articels-container{
  grid-template-columns: repeat(2,1fr);
}
#home-articels .articels-container > *:first-child,
#home-articels .articels-container > *:last-child{
  grid-template-columns: 1fr;
  grid-column: 1;
}

@media(max-width:600px){
  /* stack Grid items */
  #showcase .showcase-container,#home-articels .articels-container,
  #main-footer .footer-container{
    grid-template-columns:1fr;
  }
  #main-footer .footer-container>*:last-child{
    grid-column:1;
  }
  #main-footer .footer-container>*:first-child,
  #main-footer .footer-container>*:nth-child(2){
    border-bottom: var(--secondary-color)  dotted 1px;
    padding-bottom: 5px;
  }
  .page-container{
    grid-template-columns:1fr;
    text-align: center;
    justify-content: center;
  }
  .page-container>*:first-child{
    grid-row:1;
  }
  .l-heading{
    font-size: 2rem;
  }

}
